body {
  background-image: url("../images/f111.png");

}

ul {
  margin:0;
  padding:38px;
  list-style:none;
}

/* demo */
/*.list {
  margin:0 auto;
  border:1px solid #000;
  padding:8px 8px 0;
  width:1200px;
}
*/
ul {
  margin-right:-8px; 
  /* width:496px; 
  overflow:hidden;
}
li {
  float:center;
  margin:0 8px 8px 0;
  width:500px;
  height:auto;
  background-color:#C8DBF2;
}

.day {
  text-align: center; 
  margin: 9px; 
}

.pos { position:absolute; top:0%; right:0%; }

strong {
  font-size: 40px;
  color: red;
}

#sonic{
  color: blue;
  font-size: 38px;

}
